body {
    background-color: rgb(30, 30, 30);
    color: white;
}

/*reset*/
*{
    margin: 0;
    padding: 0;
    list-style: none ;
    outline: 0;
    font-family: 'Arial','Sans-Serif';
}

#content {
	margin: 0 auto;
	width: 650px;
	height: 200px;
}

#carrossel {
	float: left;
	width: 630px;
	overflow: hidden;
	height: 150px;
}

#carrossel ul li {
	width: 200px;
	height: 150px;
	float: left;
	margin: 0 5px;
}

#menu-carrossel {
	float: left;
	clear: both;
	width: 100%;
	text-align: center;
}

nav {
    height: 15%;
    width: 100%;
    background-color: black;
    color: white;
    display: inline-block;
}

#eu {
    width: 20%;
    margin-top: 5%;
    margin-left: 39%;
    margin-right: 39%;
    border-radius: 220px;
}

#informacoes {
    display: block;
    justify-content: center;
    width: 50%;
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 24%;
}

h1 {
    display: flex;
    justify-content: center;
}

h3 {
    display: flex;
    justify-content: center;
}

#projetos {
    margin-top: 7%;
    width: 60%;
    margin-left: 20%;
}

.projeto {
    margin-top: 5%;
}

#contato {
    display: flex;
    justify-content: center;
}